* {
    /* outline: 1px solid black; */
    font-family: "Noto Sans TC", sans-seri;    
}

body a {
    text-decoration: none;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul {
    display: flex;
    margin-top: 12px;
    
}
.container li {   
    display: block; 
    margin: 10px;
}
.container a {
    display: block;
    padding: 10px;
}
.container-item {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1296px;    
}
.container-item h5 {
    color: #3B3B3B;
}
.card {
    width: 636px;
    height: 538px;
    border: 1px solid #F1F1F1;
}
.card-title {
    font-size: 28px;
    
}
.card-text {
    font-size: 16px;
    color: #919191;
}
span a {
    background-color: #F1F1F1;
    color: #3B3B3B;
    padding: 4px 12px;
    margin-right: 16px;
    border-radius: 16px;
    text-decoration: 1px solid #444;
}