* {
    outline: 1px solid red;
    font-family: "Noto Sans TC"   
}
.container {
    margin: 0 auto;
    max-width: 1920px;
}
.nevbar {
    max-width: 1920px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
}
.logo img{
    width: 90px;
    height: 40px;    
}
.logo {
    margin-left: 312px;
    margin-right: 318px;
}
.nav-item {
    margin-left: 40px;
}
@media screen and (max-width: 1270px) {
    .logo {
        margin-left: 0px;
    }
    .nav-item {
        text-align: center;
    }
}
/* 介紹 */
.banner {
    background-color: #fafafa;
}
.slogan {
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}
.slogan h1 {
    font-size: 24px;
    line-height: 28px;
    color: #1e1e1e;
    font-family: "Noto Sans TC";
}
.introduce {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 24px;
}
.introduce h2 {
    font-size: 16px;
    line-height: 24px;
    color: #5b5b5b;    
}
.introduce p {
    font-size: 16px;
    line-height: 24px;
    color: #3b3b3b;
}
.introduce .text1{
    width: 298px;
    margin-right: 40px;
}
@media screen and (max-width:992px) {
    .introduce {
        flex-wrap: wrap;
    }
    .introduce .text1 {
        margin-bottom: 20px;
    }
    
}
