* {
    outline: 1px solid red;
    font-family: "Noto Sans TC", sans-seri;    
}
.container {
    margin: 0 auto;
    max-width: 1920px;
}
.nevbar {
    max-width: 1920px;
}
.logo img{
    width: 90px;
    height: 40px;    
}
.logo {
    margin-left: 312px;
    margin-right: 318px;
}
.nav-item {
    margin-left: 40px;
}
@media screen and (max-width: 1270px) {
    .logo {
        margin-left: 0px;
    }
    .nav-item {
        text-align: center;
    }
}