* {
    /* outline: 1px solid red; */
    font-family: "Noto Sans TC"   
}
.container {
    margin: 0 auto;
    max-width: 1920px;
}
/* navbar */
.nevbar {
    max-width: 1920px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
}
.logo img{
    width: 90px;
    height: 40px;    
}
.logo {
    margin-left: 312px;
    margin-right: 318px;
}
.nav-item {
    margin-left: 40px;    
}
.nav-link:hover {    
    background:
        linear-gradient(to right, black 1px, transparent 1px) 0 0,
        linear-gradient(to right, black 1px, transparent 1px) 0 100%,
        linear-gradient(to left, black 1px, transparent 1px) 100% 0,
        linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
        linear-gradient(to top, black 1px, transparent 1px) 0 100%,
        linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}
.nav-link:focus {
    background:
        linear-gradient(to right, black 1px, transparent 1px) 0 0,
        linear-gradient(to right, black 1px, transparent 1px) 0 100%,
        linear-gradient(to left, black 1px, transparent 1px) 100% 0,
        linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
        linear-gradient(to top, black 1px, transparent 1px) 0 100%,
        linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}
@media screen and (max-width: 1282px) {
    .logo {
        margin-left: 0px;
        margin-right: auto;
    }
    .nav-item {               
        text-align: center;  
        margin-bottom: 24px;               
    } 
    .nav-link {
        padding: 4px 8px 4px 8px;
    }
}
@media screen and (max-width: 992px) {
    .nav-item {
        margin: 0 auto;
    }
    
}
/* 介紹 */
.banner {
    background-color: #fafafa;
    padding-top: 80px;
}
.slogan {
    margin: 0 auto;        
    text-align: center;
    padding-top: 80px;
}
.slogan h1{
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 400;    
    color: #1e1e1e;
    font-family: "Noto Sans TC";
}
.slogan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    background-image: url("https://github.com/hexschool/2024-camp/blob/main/src/assets/images/quote-left.png?raw=true");
}
.slogan::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    right: 0;
    bottom: 0;
    background-image: url("https://github.com/hexschool/2024-camp/blob/main/src/assets/images/quote-right.png?raw=true");
}
.slogan .focus-bg {
    background-image: url("https://github.com/hexschool/2024-camp/blob/main/public/images/mark.png?raw=true");
    background-position: bottom;
    background-repeat: no-repeat;
}
.slogan {
    margin: 0 auto;    
    width: 670px;height: 192px;
    position: relative;   
    margin-bottom: 24px; 
}
@media screen and (max-width:992px) {
    .slogan {
        width: 70%;
        margin-bottom: 40px;       
    }
    .slogan::after {
        display: none;
    }   
}
.introduce {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 24px;
}
.introduce h2 {
    font-size: 16px;
    line-height: 24px;
    color: #5b5b5b;    
}
.introduce p {
    font-size: 16px;
    line-height: 24px;
    color: #3b3b3b;
}
.introduce .text1{
    width: 298px;
    margin-right: 40px;
}
@media screen and (max-width:992px) {
    .introduce {
        flex-wrap: wrap; 
        padding-top: 40px;
        padding-bottom: 80px;
   
    }
    .introduce .text1 {
        margin-bottom: 20px;
        margin: 0 auto;
    }    
}
/* 作品集 */
.portfolio {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
}
.item img {
    width: 636px;height: 400px;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
}
.item {
    margin-right: 24px;
    margin-bottom: 80px;
}
.item h3 {
    font-size: 28px;
    line-height: 33.6px;
    color: #3b3b3b;
    margin-left: 16px;
}
.item p {
    font-size: 16px;
    line-height: 24px;
    color: #919191;
    margin-left: 16px;
}
.item ul {
    display: flex;
    margin-top: 24px;
    padding-left: 16px;    
}
.item li {
    margin-right: 16px;
    background-color: #f1f1f1;
    border-radius: 16px;   
}
.item a {
    display: block;
    text-decoration: none;
    padding: 4px 12px 4px 12px;
    line-height: 24px;
    font-size: 16px;
    color: #3b3b3b;

}
.item .text {
    margin-top: 16px;
}
.page {
    display: flex;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 120px;
}
.number {
    margin-right: 16px;
    border-radius: 4px;
    width: 40px;height: 40px;
    justify-content: center;
    align-items: center;
}
.number a {
    padding: 2px 13px;
    color:#3b3b3b;
    text-decoration: none;
    font-size: 24px;    
}
.number a:focus {
    background-color: #1e1e1e;
    border-radius: 4px;
    color: #fff;
}
@media screen and (max-width:992px){
    .portfolio {
        flex-wrap: wrap;
    }
    .item {
        padding-bottom: 48px;
        margin: 0 4px;
    }
    .item img {
        width: 100%;
        height: auto;
    }
    
}
/* footer */
.footer {
    width: 100%;
    border-top: 1px solid #fafafa;
    justify-content: space-between;
    background-color: #fafafa;
    background-image: url(https://github.com/hexschool/2024-camp/blob/main/src/assets/images/footer-bg-lg.png?raw=true);
    /* padding: 80px 312px 80px 312px; */
    justify-content: space-around;
    display: flex;
}
.connection{
    margin: 119px 0;
}
.connection-logo {
    margin-bottom: 24px;
}
.connection-text {   
    font-family: "Noto Sans tc";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #3b3b3b;
    margin-bottom: 24px;
}
.switch{
    margin-top: 80px;
    height: 264px;
}
.email a{
    text-decoration: none;
    font-size: 20px;
    width: 400px;
    line-height: 24px;
    color: #919191;
}
.switch-item1 {
    height: 72px;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;  
    background-color: #000; 
    margin-bottom: 24px;
}
.switch-item1 img {
    width: 56px;height: 56px;
}
.switch-item1 a {
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;    
    text-decoration: none;
    color: #fff;
    padding-right: 138px;
}
.switch-item {
    height: 72px;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;  
    background-color: #fff; 
    margin-bottom: 24px;
}
.switch-item img {
    width: 56px;height: 56px;
}
.switch-item a {
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;    
    text-decoration: none;
    color: #3b3b3b;    
}
@media screen and (max-width:992px) {
    .footer {
        display: block;
        padding: 0;  
        margin: 0 auto;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
             
    }
    .connection-logo {
        padding-left: 115.5px;        
    }
    .connection-logo img {
        width: 120px;height: 54px;
    }
    .connection {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 351px;
    }
    .switch {
        margin: 0 auto;
        width: 351px;
    }
  
    
}
